.cpcache
.nrepl-port
.idea
.vscode/*
!.vscode/snippets

node_modules
package-lock.json
pom.xml
release/js

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.hgignore
.hg/