#order-layer {
  position: fixed;
  left: -646px;
  top: 50px;
  width: 640px;
  z-index: 9000;
  background-color: #f6f7f9;
  background-image: linear-gradient(85deg,#f6f7f9 90%, #e9e9e9);
  border-radius: 0 0 8px 0;
  padding: 10px 10px 10px 20px;
  box-shadow: 1px 1px 20px #33333355;
  border-right: rgb(250, 209, 114) 2px solid;
  border-left: 8px solid rgb(187, 187, 187);
  transition: all 0.5s ease-in;

  .hidden-handle {
    position: absolute;
    display: none;
    left:620px;
    top: -5%;
    height: 110%;
    width:160px;
  }
  
  &:hover, &.open {
    transition: all 0.5s ease-out;
    left: -1px;
    .hidden-handle {
      display: block;
    }
  }

  .handle {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    left: 596px;
    top:36px;
    width: 100px;
    height: 28px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    transform: rotate(90deg);
    background-color: rgb(250, 209, 114);
    cursor: default;
  }

  .footer {
    font-size: 10px;
    text-align: center;
  }
}
