/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Mono|Ubuntu+Mono&display=swap");

/* -------------------------------------------------------------------------- */
/*                                   SPECTRE                                  */
/* -------------------------------------------------------------------------- */

// Variables and mixins
@import "spectre/variables";
@import "spectre/mixins";

// Reset and dependencies
@import "spectre/normalize";
@import "spectre/base";

// Elements
@import "spectre/typography";
@import "spectre/tables";
@import "spectre/buttons";
@import "spectre/forms";
@import "spectre/labels";
@import "spectre/media";
//@import "spectre/codes";
//@import "spectre/asian";

// Layout
@import "spectre/layout";
//@import "spectre/hero";
//@import "spectre/navbar";

// Components
//@import "spectre/modals";
@import "spectre/toasts";
//@import "spectre/accordions";
//@import "spectre/avatars";
//@import "spectre/badges";
//@import "spectre/breadcrumbs";
//@import "spectre/bars";
//@import "spectre/cards";
//@import "spectre/chips";
//@import "spectre/dropdowns";
//@import "spectre/empty";
//@import "spectre/menus";
//@import "spectre/navs";
//@import "spectre/pagination";
//@import "spectre/panels";
//@import "spectre/popovers";
//@import "spectre/steps";
//@import "spectre/tabs";
//@import "spectre/tiles";
//@import "spectre/tooltips";

// Utility classes
@import "spectre/animations";
@import "spectre/utilities";

/* -------------------------------------------------------------------------- */
/*                                    SPILL                                   */
/* -------------------------------------------------------------------------- */

//@import "core";
@import "animation";
//@import "modals";
//@import "menubar";
//@import "boxes";
//@import "loading";
//@import "form";
//@import "dashboardtable";
//@import "infocards";
//@import "login";
//@import "openlayers";
//@import "smartbox";
//@import "call";
//@import "orderlayer";
//@import "tools";
//@import "realledger";
@import "progressbar";

#app {
  font-family: "Architects Daughter", cursive;
  background: radial-gradient(ellipse at center, hsl(30, 100%, 100%) 0%, hsl(30, 70%, 70%) 150%);

  width: 100vw;
  height: 100vh;
  border-bottom: hsl(30, 70%, 50%) 2px solid;

  .add-task {
    z-index: 5;
    position: absolute;
    top: -260px;
    left: 20vw;
    width: 60vw;
    transition: all 0.4s ease-in-out;

    .invisible-handle {
      z-index: -100;
      width: 60vw;
      margin-left: -10vw;
      height: 400px;
      position: absolute;
      display: none;
    }

    .task-form {
      user-select: none;
      height: 255px;
      padding: 10px;

      .form-label,
      .text-input {
        float: left;
        width: 100%;
      }

      .text-input {
        padding: 2px 4px;
        font-size: 1.1rem;
      }

      .text-input,
      button {
        border-radius: 6px;
        border: none;
        box-shadow: 1px 1px 3px inset hsl(30, 0%, 70%);
        margin: 4px;
      }

      .time-selector {
        margin-bottom: 20px;
        span {
          display: inline-block;
          margin: 3px;
          background-color: hsl(30, 0%, 90%);
          cursor: pointer;
          border-bottom: 2px solid hsl(30, 0%, 40%);
          width: 26px;
          height: 20px;
          border-radius: 6px;
          padding: 0 4px;
          font-size: 0.7rem;
          text-align: center;

          &:hover {
            border-bottom: none;
            background-color: hsl(55, 100%, 39%);
            color: white;
            font-weight: bolder;
          }
        }

        input {
          display: none;
        }

        input:checked + span {
          background-color: hsl(85, 100%, 39%);
          color: white;
          font-weight: bolder;
        }
      }

      button {
        box-shadow: none;
        border-bottom: 2px solid hsl(30, 0%, 40%);
        background-color: hsl(30, 0%, 90%);
        cursor: pointer;

        &:hover {
          border-bottom: none;
          background-color: hsl(85, 100%, 39%);
          color: white;
          font-weight: bolder;
        }
      }

      .switchers {
        float: left;
        margin-bottom: 12px;
      }

      .switch {
        display: inline-block;
        margin: 0 4px;
        span {
          cursor: pointer;
          text-decoration: line-through;
        }
      }

      .check {
        margin: 0 4px;
      }

      .check:checked + span {
        font-weight: 600;
        text-decoration: unset;
      }

      .saved {
        margin-left: 10px;
      }
    }

    .handle {
      margin: 0 auto;
      padding-top: 10px;
      font-size: 1rem;
      width: 150px;
      height: 40px;
      text-align: center;
      box-shadow: #33333344 3px 4px 3px;
    }

    .task-form,
    .handle {
      background-color: hsl(30, 100%, 95%);
      border-radius: 0 0 10px 10px;
      box-shadow: #33333344 3px 4px 3px;
    }

    &:hover {
      //.add-task:hover
      top: 0px;
      .invisible-handle {
        display: block;
      }
    }
  }

  .active-task {
    position: absolute;
    top: 30%;
    width: 50%;
    left: 25%;
  }
  .task-name {
    font-size: 2rem;
    text-align: center;
  }
  .start,
  .end {
    font-size: 1.2rem;
    position: absolute;
  }
  .start {
    left: -3.5vw;
    margin-top: 7.5rem;
  }
  .end {
    right: -3.5vw;
    margin-top: 7.5rem;
  }

  .buttons {
    text-align: center;
    .fa {
      font-size: 3rem;
      cursor: pointer;
      color: hsl(30, 0%, 40%, 40%);
      margin: 4px;
      &:hover {
        color: hsl(85, 100%, 39%);
      }
    }
  }
}

.corner {
  position: absolute;
  text-align: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  padding: 1px;
  background-color: hsl(30, 100%, 95%);
  box-shadow: #33333344 3px 3px 6px;
  z-index: 10;

  .task-list {
    display: none;
    height: 100%;
    width: 100%;
    overflow-y: auto;

    color: hsl(30, 30%, 20%);
    float: left;

    h5 {
      margin: 5px auto 5px 46px;
    }
  }

  ul {
    padding: 0 4px;
  }

  li {
    cursor: pointer;

    i {
      opacity: 0;
    }
    &:hover {
      i {
        opacity: 1;
      }
    }

    span:hover,
    i:hover {
      color: hsl(15, 80%, 50%);
    }

    i {
      display: inline-block;
      padding: 0 4px;
    }
  }

  &:hover {
    box-shadow: hsl(189, 42%, 15%, 50%) 1px 1px 6px;
    width: 380px;
    max-width: 90vw;
    height: 48vh;
    animation: grow 0.6s ease-in;
    .task-list {
      display: block;
    }
  }

  .i {
    float: left;
  }

  .icon {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    float: left;
    text-align: center;
    background-color: hsl(30, 100%, 100%);

    i {
      padding: 9px 8px;
      color: hsl(85, 100%, 39%);
      font-size: 20px;
    }
  }

  &.tl {
    top: 0;
    left: 0;
  }
  &.tr {
    top: 0;
    right: 0;
  }
  &.bl {
    bottom: 0;
    left: 0;
  }
  &.br {
    bottom: 0;
    right: 0;
  }

  &.tr,
  &.br {
    .icon {
      float: right;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                    MODAL                                   */
/* -------------------------------------------------------------------------- */

.modal {
  background-color: hsl(30, 70%, 95%, 90%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsl(30, 0%, 40%, 40%);
  z-index: 24;
  position: relative;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  display: none;

  &.open {
    display: block;
  }

  .close-button {
    background-color: hsl(30, 70%, 95%, 90%);
    border-radius: 10px 10px 0 0;
    width: 30px;
    height: 24px;
    padding-left: 7px;
    position: absolute;
    right: 10px;
    top: -24px;
    border: 1px solid hsl(30, 0%, 40%, 40%);
    border-bottom: none;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }

  .header {
    padding: 12px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                DOWN BUTTONS                                */
/* -------------------------------------------------------------------------- */

.down-buttons {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  list-style: none;
  color: black;
  margin: 0;

  .litext {
    display: none;
    position: absolute;
    top: -28px;
    margin-left: -84px;
    width: 200px;
    text-align: center;
    left: -2px;
    background-color: none;
  }

  li {
    position: relative;
    display: inline-block;
    opacity: 0.5;
    background-color: hsl(30, 70%, 50%);
    border-radius: 4px 4px 0 0;
    margin: 0 2px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 4px;

    &:hover {
      opacity: 1;
      .litext {
        display: block;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                            REMOTE STORAGE WIDGET                           */
/* -------------------------------------------------------------------------- */

#remotestorage-widget {
  position: absolute !important;
  right: 0px;
  top: 0px;
  user-select: none;
}

.rs-closed {
  max-width: 350px !important;
  background-color: #fff !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;
}

.rs-closed:hover {
  cursor: pointer;
  opacity: 1;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  #app {
    .add-task {
      left: 10vw;
      width: 80vw;
      top: -360px;

      &:hover {
        top: 0px;
      }

      .task-form {
        user-select: none;
        height: 355px;
        padding: 10px;
      }
    }

    .active-task {
      position: absolute;
      top: 30%;
      width: 70%;
      left: 20%;
    }

    .task-list {
      li {
        i {
          opacity: 0.5;
          margin: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #app {
    .add-task {
      left: 0vw;
      width: 100vw;
      top: -360px;

      &:hover {
        top: 0px;
      }

      .task-form {
        user-select: none;
        height: 355px;
        padding: 30px 10px 10px 10px;
      }
    }

    .corner {
      margin: 0px;
      &.tl {
        border-radius: 0 0 10px 0;
      }
      &.tr {
        border-radius: 0 0 0 10px;
      }
      &.bl {
        border-radius: 0 10px 0 0;
      }
      &.br {
        border-radius: 10px 0 0 0;
      }
    }

    .active-task {
      position: absolute;
      top: 30%;
      width: 80%;
      left: 10%;
    }
    .task-name {
      font-size: 1.5rem;
      text-align: center;
    }
    .start,
    .end {
      font-size: 1rem;
      position: absolute;
    }
  }

  .down-buttons {
    li {
      opacity: 0.5;
      background-color: hsl(30, 70%, 50%);
      border-radius: 4px 4px 0 0;
      margin: 0 2px;
      cursor: pointer;
      width: 38px;
      height: 35px;
      padding: 6px;
    }
  }

  .modal {
    top: 10vh;
    left: 2vw;
    width: 96vw;
    height: 80vh;

    #remotestorage-widget {
      position: absolute !important;
      left: 0px;
      top: 0px;
      user-select: none;
    }
    .close-button {
      width: 40px;
      height: 34px;
      position: absolute;
      right: 10px;
      top: -34px;
      padding: 5px 0 0 11px;
      i {
        font-size: 20px;
      }
    }
  }

  #settings {
    .header {
      padding: 80px 10px 10px;
    }
  }
}
